<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".admin.ui.VolunteerCertificationListActivity"
            android:exported="true" />
        <activity
            android:name=".admin.ui.VolunteerRequestListActivity"
            android:exported="true" />
        <activity
            android:name=".admin.ui.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".user.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ui.VolunteerCertificationDetailActivity"
            android:exported="true" />
        <activity
            android:name=".admin.ui.VolunteerRequestDetailActivity"
            android:exported="true" />
        <activity
            android:name=".user.MySupportDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.MyPointDetailActivity"
            android:exported="false" />
        <activity
            android:name=".mission.ui.WalkAwardActivity"
            android:exported="true" />
        <activity
            android:name=".volunteer.ui.VolunteerCertificationSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".volunteer.ui.VolunteerCertificationActivity"
            android:exported="true" />
        <activity
            android:name=".user.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true" />
        <activity android:name=".volunteer.VolunteerDetailActivity" />
        <activity
            android:name=".mission.MissionActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="@string/kakao_api_key" />

        <activity
            android:name=".user.SignUpActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".mission.ui.WalkActivity"
            android:exported="true"
            android:label="@string/title_activity_walk" />
        <activity
            android:name=".mission.ui.QuizActivity"
            android:exported="true"
            android:label="@string/title_activity_walk" />
        <activity
            android:name=".mission.ui.QuizIncorrectActivity"
            android:exported="true" />
        <activity
            android:name=".mission.ui.QuizCorrectActivity"
            android:exported="true" />
        <activity android:name=".support.SupportDetailActivity" />
    </application>

</manifest>